@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Source+Code+Pro:wght@400;700&display=swap');


* {
    font-family: 'Cabin', sans-serif;
    font-size: 2vw;
    padding: 0;
    margin: 0;
}

.fgradient {
    background: linear-gradient(180deg, #2832c3 0%, #0074f0 100%);
    font-size: 1em;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    font-size: 1.5vw;
    text-decoration: none;
    font-weight: bold;
    color: black;
    transition: all .3s ease-in-out;
}


html, body {
    height: 100%;
}

body {
    background: white;
}

li {
    font-size: 1.5vw;
    margin-bottom: 3vh;
    display: flex;
    align-items: center;
}

li.project {
    max-width: 80%;
    display: block;
}
li img {
    margin-right: 1vw;
}
ul {
    list-style-type: none;
}

td.name {
    font-weight: bold;
    background: #d1d0d0;
    max-width: 60%;
    width: 60%;
}

p, th, td, tr, table {
    font-size: 1.5vw;
}

td {
    padding-top: .5vh;
    padding-bottom: .5vh;
    padding-left: 1vw;
    cursor: default;
    transition: all .3s ease-in-out;
}

tr {
    border: 3px solid black;
}

table {
    padding-left: 1vw;
    border-left: 1vh solid black;
    margin-top: 3vh;
    margin-bottom: 3vh;
    max-width: 70%;
}

p.long-text {
    max-width: 80%;
    width: 80%;
}
.contact {
    color: black;
    transition: all .3s ease-in-out;
}

a:hover {
    background: linear-gradient(180deg, #2832c3 0%, #0074f0 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu-section {
    height: 80vh;
    width: 20vw;
    min-width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .menu-item {
        color: black;
        font-weight: bold;
        transition: all .3s ease-in-out;
        font-size: 2vw;
    }

    .menu-item:hover {
        padding-left: 1vw;
    }

    .menu-item.current, .menu-item:hover {
        background: linear-gradient(180deg, #2832c3 0%, #0074f0 100%);
        padding-left: 1vw;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    li {
        max-width: 100%;
    }
}

.section-content {
    height: 80vh;
    padding-left: 3vh;
    padding-top: 3vh;
}

.section-content.home {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0;
    margin: 0;
    max-width: 70%;
    width: 70%;
    padding-bottom: 3vh;
}

.wrapper {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
}

.wrapper.about {
    align-items: normal;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.body-wrapper {
    height: 96%;
    margin-right: 3vw;
    margin-left: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav, section {
    border-radius: 3vh;
    background: #ffffff;
    box-shadow:  1vw 1vh 3vw #d9d9d9,
               -1vw -1vh 3vw #ffffff;
}

.main-section {
    margin-right: 3vw;
    width: 70vw;
    height: 80vh;
    display: inline;
    border: none;
    overflow: hidden;
    scroll-behavior: smooth;
}

footer {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.5vw;
}
