@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Source+Code+Pro:wght@400;700&display=swap');


* {
    font-family: 'Cabin', sans-serif;
    font-size: 1vmax;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 900px) {
    .long-text {
        max-width: 70%;
        width: 70%;
    }
}

.fgradient {
    background: linear-gradient(180deg, #2832c3 0%, #0074f0 100%);
    font-size: 1em;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    font-size: 2vmax;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

ul {
    list-style-type: none;
    display: flex;
}

ul.menu {
    margin-bottom: 3vh;
}

ul.contacts {
    margin-top: 3vh;
    display: flex;
    align-items: center;
}

a img {
    width: 1.8vmax;
    opacity: .5;
    transition: all .3s ease-in-out;
}

a img:hover {
    opacity: 1;
}
li {
    font-size: 1.5vmax;
    display: flex;
    align-items: center;
}

ul li {
    margin-right: 1vw;
    display: flex;
    align-items: stretch;
}

td.name {
    font-weight: bold;
    background: #f0f0f0;
    max-width: 50%;
    width: 50%;
}

td.value {
    display: flex;
    flex-wrap: wrap;
}

td.value img {
    padding: .3vmin;
    height: 3.5vmin;
}

p, th, td, tr, table {
    font-size: 1.5vmax;
}

td {
    padding-top: .5vh;
    padding-bottom: .5vh;
    padding-left: 1vw;
    cursor: default;
    transition: all .3s ease-in-out;
}

tr {
    border: 3px solid black;
}

table {
    padding-left: 1vw;
    border-left: 1vh solid black;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

a:hover {
    background: linear-gradient(180deg, #2832c3 0%, #0074f0 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


a.current, a:hover {
    background: linear-gradient(180deg, #2832c3 0%, #0074f0 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.section-content {
    height: 80vh;
    padding: 3vh;
}

.section-content.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 3vmax;
}

.wrapper {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section {
    border-radius: 3vh;
    background: #ffffff;
    box-shadow:  1vw 1vh 3vw #d9d9d9,
               -1vw -1vh 3vw #ffffff;
}

.main-section {
    width: 80vw;
    height: 80vh;
    border: none;
    overflow: hidden;
    scroll-behavior: smooth;
}


footer {
    position: absolute;
    bottom: 1vh;
    text-align: center;
    font-size: 2vh;
}
